@charset "utf-8";
/* CSS Document */

#article ul {
	list-style:none;
	font-size:14px;
	line-height:20px;
	text-indent:2em;
}
#article ol {
	list-style:decimal;
	font-size:14px;
	line-height:20px;
	text-indent:2em;
}
.secondary {
	text-indent:4em;
	list-style:disc;
	font-size:12px;
	line-height:24px;
}