@charset "utf-8";
/* CSS Document */

/*---------品牌索引栏----------s*/
.productmenu {
width:1000px;
height:35px;
display:inline-block;
font-size:14px;
}

#productlabel{background-color:rgb(102,25,45);
color:#FFF;
padding:0 8px;
font-family:"微软雅黑";
font-size:15px;
}

.productmenu li{
float:left;
text-align:center;
line-height:35px;
list-style-type:none;
}

.productmenu li:hover {	
background-color:rgb(102,25,45);
color:#FFF;
}

.productmenu li a {
float: left;
color:#000;
text-decoration:none;
font-family:"微软雅黑";
padding: 0 13px;
}

.productmenu li a:hover{background:rgb(102,25,45);color:#FFF}

/*-------a2z品牌logo区---------*/
.product_index {
float:left;}

.product_index ul {width:1080px; font-size:12px; height:auto;}

.product_index li {width:150px; 
display:block;
 line-height:16px; 
 text-align:center;
 height:230px;
 float:left;
 margin:0 20px 0 0;
 overflow:hidden;}
 
.product_index a {
	text-decoration:none;	
	font-family:"微软雅黑";
	color:black;
	}
.product_index .imgborder{width:150px;height:150px;
display:table-cell;
text-align:center;
vertical-align:middle;}

.product_index img{max-width:150px;max-height:150px;vertical-align:middle}

/*----A以及分割线------*/
.func_hr{border-bottom-style:solid;border-bottom-width:thin;
padding:10px 0 0;
width:990px;}

.func_hr p {font-family:"微软雅黑";font-size:24px;
color:rgb(102,25,45);}


