@charset "utf-8";
/* CSS Document */

#article li {
	list-style:none;
	font-size:14px;
	line-height:24px;
	vertical-align:center;
	text-indent:2em;
}
#recommperfume {
	width:600px;
	text-align:center;
	margin:10px auto;
	float:left;
}
.recommperfumelist {
	width:180px;
	height:230px;
	float:left;
	margin:10px 10px;
}
#recommperfume img {
	width:140px;
	height:200px;
	border:rgb(102,25,45) solid 1px;
}
#recommperfume a {
	font-size:12px;
	text-decoration:none;
	color:#aaa;
}
#recommperfume a:hover {
	text-decoration:underline;
	color:rgb(102,25,45);
}